<div class="container">
    <div class="form-container" id="login-form">
      <h1>Login</h1>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required ngModel>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required ngModel>
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a routerLink="/register" id="signup-link">Sign up</a></p>
    </div>
</div>
  