<header>
  <h1><span class="blue-text">Car</span> <span class="pink-text">Rental</span></h1>
  <nav *ngIf="!isAdminHere()">
    <a routerLink="home">Home</a>
    <a routerLink="dashboard">Cars</a>
    <a routerLink="search">Search</a>
    <ng-container *ngIf="!isAuthenticated(); else loggedInLinks">
      <a routerLink="login">Login</a>
      <a routerLink="register">Register</a>
    </ng-container>
    <ng-template #loggedInLinks>
      <a routerLink="rented">Purchase</a>
      <a routerLink="" (click)="logout()">Logout</a>
    </ng-template>
  </nav>

  <nav *ngIf="isAdminHere()">
    <a routerLink="create">Create</a>
    <a routerLink="dashboard">Cars</a>
    <a routerLink="search">Search</a>
    <ng-container *ngIf="!isAuthenticated(); else loggedInLinks">
      <a routerLink="login">Login</a>
      <a routerLink="register">Register</a>
    </ng-container>
    <ng-template #loggedInLinks>
      <a routerLink="" (click)="logout()">Logout</a>
    </ng-template>
  </nav>
</header>
