@media screen and (max-width: 768px) {
  header {
    padding: 20px; 
  }
  
  h1 {
    font-size: 36px; 
    margin-left: 20px; 
  }
  
  nav a {
    margin-right: 30px;
    font-size: 24px; 
  }
}



header {
    background-color: hsl(0, 20%, 73%); 
    color: white; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  h1 {
    font-size: 48px; 
    margin: 0; 
  }
  
  nav {
    display: flex; 
  }
  
  nav a {
    color: white; 
    text-decoration: none; 
    margin-right: 40px; 
    font-size: 28px;
  }
  
  nav a:hover {
    background-color: #555; 
  }
  
  .blue-text {
    color: rgb(131, 131, 221);
  }
  
  .pink-text {
    color: #ea82b8;
  }
  
  
  