<main>
        <div class="ourCompany">
            <section>
                <h2>About <span class="blue-text">Car</span> <span class="pink-text">Rental</span></h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ea eveniet, deleniti minus excepturi repudiandae officiis recusandae, qui incidunt veniam omnis sed a aperiam corrupti eum, nisi quas cum error?</p>
            </section>
            
        </div>
        <div class="ourExperience">
            <section>
                <h2>About Our Experience</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ea eveniet, deleniti minus excepturi repudiandae officiis recusandae, qui incidunt veniam omnis sed a aperiam corrupti eum, nisi quas cum error?</p>
            </section>
        </div>
        <div class="ourPartners">
            <section>
                <h2>Our Partners</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ea eveniet, deleniti minus excepturi repudiandae officiis recusandae, qui incidunt veniam omnis sed a aperiam corrupti eum, nisi quas cum error?</p>
            </section>
        </div>
</main>
