<div class="form-wrapper">
    <form #carForm="ngForm" (ngSubmit)="submitForm(carForm)" class="car-form">
    
    <div class="elementsWrapper">
        <div class="left">
            <div>
                <label for="brand">Brand:</label>
                <input type="text" id="brand" name="brand" [(ngModel)]="newCar.brand" required>
            </div>

            <div>
                <label for="model">Model:</label>
                <input type="text" id="model" name="model" [(ngModel)]="newCar.model" required>
            </div>

            <div>
                <label for="year">Year:</label>
                <input type="number" id="year" name="year" [(ngModel)]="newCar.year" required>
            </div>

            <div>
                <label for="color">Color:</label>
                <input type="text" id="color" name="color" [(ngModel)]="newCar.color" required>
            </div>

            
        </div>
        <div class="center">
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" [(ngModel)]="newCar.price" required>
            </div>

            <div>
                <label for="transmission">Transmission:</label>
                <input type="text" id="transmission" name="transmission" [(ngModel)]="newCar.transmission" required>
            </div>
            <div>
                <label for="seats">Seats:</label>
                <input type="number" id="seats" name="seats" [(ngModel)]="newCar.seats" required>
            </div>

            <div>
                <label for="engine">Engine:</label>
                <input type="text" id="engine" name="engine" [(ngModel)]="newCar.details.engine" required>
            </div>
        </div>
        <div class="right">
           

            <div>
                <label for="fuelType">Fuel Type:</label>
                <input type="text" id="fuelType" name="fuelType" [(ngModel)]="newCar.details.fuelType" required>
            </div>

            <div>
                <label for="mileage">Mileage:</label>
                <input type="number" id="mileage" name="mileage" [(ngModel)]="newCar.details.mileage" required>
            </div>

            <div>
                <label for="condition">Condition:</label>
                <input type="text" id="condition" name="condition" [(ngModel)]="newCar.details.condition" required>
            </div>

            <div>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" [(ngModel)]="newCar.details.description" required>
            </div>

            
        </div>  
    </div>

    <div>
        <label for="image">Image:</label>
        <input type="text" id="image" name="image" [(ngModel)]="newCar.details.image" required>
    </div>
      
      <button type="submit">Submit</button>
    </form>
  </div>
  