<div class="container">
  <div class="form-container" id="login-form">
    <h1>Register</h1>
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required ngModel>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required ngModel>
      <button type="submit">Create account</button>
    </form>
    <p>Have account? <a routerLink="login" id="signup-link">  Login</a></p>
  </div>
</div>